<strong>Olá, {{ deliveryman_name }}</strong>
<p>Uma nova encomenda foi selecionar para você entregar, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient_name }} <br />
  <strong>Rua: </strong> {{ street_name }} <br />
  <strong>Número: </strong> {{ street_number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ zip_code }} <br />


  <br />
  <small>
    O horário para a retirada é entre às 8h e 18h. 
  </small>
</p>